-i https://pypi.doubanio.com/simple
python-gitlab
Flask
Flask_OAuthlib
Flask_SQLAlchemy
redis
smart_getenv
SQLAlchemy
webargs
Werkzeug
ipython
python-etcd
flask_mako
protobuf
grpcio
raven
PyYAML
webargs
