# ln -s -f `pwd`/citadel.service /etc/systemd/system/
[Unit]
Description=Citadel
After=network.target

[Service]
Type=simple
Environment="OAUTHLIB_INSECURE_TRANSPORT=1" "GRPC_VERBOSITY=INFO"
WorkingDirectory=/opt/citadel
ExecStart=/usr/bin/gunicorn app:app --bind 0.0.0.0:5000 -w 4 --timeout 1200
LimitNOFILE=10485760
LimitNPROC=10485760
LimitCORE=infinity
MountFlags=slave
Restart=always

[Install]
WantedBy=multi-user.target
