# cp `pwd`/citadel-worker.service /etc/systemd/system/
[Unit]
Description=Citadel Worker
After=network.target

[Service]
Type=simple
User=nobody
Environment="OAUTHLIB_INSECURE_TRANSPORT=1" "GRPC_VERBOSITY=INFO"
WorkingDirectory=/opt/citadel
ExecStart=/root/.pyenv/versions/3.6.1/envs/citadel/bin/celery -A citadel.app:celery worker --autoscale=50,8 --loglevel DEBUG -Q citadel -B
LimitNOFILE=10485760
LimitNPROC=10485760
LimitCORE=infinity
MountFlags=slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
