# cp `pwd`/citadel.service /etc/systemd/system/
[Unit]
Description=Citadel
After=network.target

[Service]
Type=simple
Environment="GRPC_VERBOSITY=INFO"
WorkingDirectory=/opt/citadel
ExecStart=/root/.pyenv/versions/3.6.1/envs/citadel/bin/gunicorn citadel.app:app -c gunicorn_config.py
LimitNOFILE=10485760
LimitNPROC=10485760
LimitCORE=infinity
MountFlags=slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
