# cp `pwd`/watch-etcd.service /etc/systemd/system/
[Unit]
Description=watch-etcd
After=network.target

[Service]
Type=simple
Environment="GRPC_VERBOSITY=INFO"
WorkingDirectory=/opt/citadel
ExecStart=/opt/citadel/bin/run-etcd-watcher c1
LimitNOFILE=10485760
LimitNPROC=10485760
LimitCORE=infinity
MountFlags=slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
